* {
  --background-color: #f0f4f8;
  --text-color: #000;
  --btn-primary-bg: #007bff;
  --btn-success-bg: #28a745;
  --btn-warning-bg: #ffc107;
  --btn-danger-bg: #dc3545;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
  margin-top: 40px;
}

.todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
    font-size: 14px;

    &:focus {
      border-color: var(--btn-primary-bg);
      outline: none;
    }
  }

  .add-btn {
    padding: 12px 20px;
    background-color: var(--btn-primary-bg);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}

.error-message {
  color: red;
  margin-top: 10px;
  display: none;
  font-size: 14px;
  text-align: center;

  &.visible {
    display: block;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  gap: 10px;

  &:hover {
    transform: scale(1.02);
  }

  .task-text {
    width: 50%;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.done-task .task-text {
    text-decoration: line-through;
    color: #888;
  }

  .done-btn {
    display: block;
  }

  .undo-btn {
    display: none;
  }

  &.done-task {
    .done-btn {
      display: none;
    }
    .undo-btn {
      display: block;
    }
  }

  button {
    width: 25%;
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: white;
    transition: all 0.5s ease-in-out;
    text-align: center;

    &.done-btn {
      background-color: var(--btn-success-bg);
    }

    &.undo-btn {
      background-color: var(--btn-warning-bg);
      color: var(--text-color);
    }

    &.delete-btn {
      background-color: var(--btn-danger-bg);
    }

    &.done-btn,
    &.undo-btn,
    &.delete-btn {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
